body{
    background-image:url("../images/backgrounNumbers.jpg");
    object-fit: cover;
    background: no-repeat;
    text-align: center;    
}

h1{
    margin:0 auto;
    font-size: xxx-large;
    text-transform: uppercase;
    font-weight: 1000;
}

p{
    font-size: xx-large;
}

.newGame{
    margin:0 auto;
    font-size: xx-large;
}

.main{
    position: relative;
    margin:0 auto;
    border: 10px solid #9ea5c1;
    background-color: #e0e2ee;
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1 / 1;
}

.numbers{
    aspect-ratio: 1 / 1;
    position: relative;
    width: 25%;
    max-width: 80px;

    margin:0;
    padding: 0;
    font-size: xxx-large;
    align-items: center;
    justify-content: center;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .main{
        max-width: 400px;
    }
    .numbers{
        max-width: 100px;
    }
}
